[submodule "VitraeEngine/dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "VitraeEngine/dependencies/DynAsMa"]
	path = dependencies/DynAsMa
	url = https://github.com/LMauricius/DynAsMa.git
[submodule "VitraeEngine/dependencies/MMeter"]
	path = dependencies/MMeter
	url = https://github.com/LMauricius/MMeter.git
